apprentice_name=寻找师傅
apprentice_description=提摩西告诉你，如果你见到他的师傅，请向其告知他已经回到作坊。
assassinquest_name=阴影中的低语
assassinquest_description=神秘人物想要一种猛烈毒液，可以在阿夸尔的一个蜘蛛洞内找到。
bakerson_name=面包师儿子
bakerson_description=你告诉面包师，你会前往森林拱门找到他的儿子。
belphyorhorn_name=贝尔菲尔的角
belphyorhorn_description=大恶魔贝尔菲尔的犄角，有人可能想要这件强大的物品。
belphyorquest_name=小火魔的复仇
belphyorquest_description=大恶魔贝尔菲尔想要你在一个充满邪教徒的地方召唤小火魔。
belphyorscroll_name=贝尔菲尔的卷轴
belphyorscroll_description=贝尔菲尔给了你这张卷轴，用来召唤小火魔。
bigfish_name=大鱼
bigfish_description=你在瑟能西亚湖抓到的这条鱼，看起来很好吃。
goblinquest_name=酋长的要求
goblinquest_description=你同意帮助地精杀死以他们为食的野兽。
goldensheepquest_name=金色绵羊
goldensheepquest_description=你掌握了传说中的金色绵羊的位置。
goldenwool_name=金色羊毛
goldenwool_description=传说中的金色绵羊的羊毛，非常珍贵。
goldtrophy_name=黄金奖杯
goldtrophy_description=纪念你在维克拉斯竞技场取得胜利的黄金奖杯。
grainsack_name=谷物袋
grainsack_description=瑟能西亚旷野生产的一小袋谷物。
hammer_name=锤子和钉子
hammer_description=一把锤子和几根钉子，用于快速维修。
harpyegg_name=鹰身女妖蛋
harpyegg_description=一颗鹰身女妖蛋，在适当的条件下可以孵化出来。
hugeruby_name=巨大的红宝石
hugeruby_description=曾经是一尊大蛇雕像的眼睛，非常珍贵。
jeweledkey_name=宝石钥匙
jeweledkey_description=一把小钥匙，装缀着你在坟墓里找到的宝石。
keyaquarfall_name=神秘的钥匙
keyaquarfall_description=一把神秘的钥匙，据说可以打开有史以来最珍贵的宝藏。
keynorth_name=神秘的钥匙
keynorth_description=一把神秘的钥匙，上面有一条白色的丝带，你在冻结的下水道里面找到的。
keyobelisk_name=神秘的钥匙
keyobelisk_description=你找到的一把神秘的钥匙。
keyvelkarath_name=神秘的钥匙
keyvelkarath_description=一把神秘的钥匙，上面有一条黑色的丝带，你在黑色熔炉里面找到的。
largeemerald_name=巨大的绿宝石
largeemerald_description=你在一个秘密隔间里发现了这块绿宝石，非常珍贵。
lorequest_name=古老的知识
lorequest_description=一个地精要求你寻找古代书籍，帮助他的发明飞翔。
magicsapphyre_name=魔法蓝宝石 
magicsapphyre_description=一颗能量耗尽的魔法蓝宝石，即便如此，依然非常珍贵。
magictorch_name=魔法火炬
magictorch_description=一个带有魔力的火炬，你可以用来融化冰块或防止自己被冻结。
merchantcard_name=商人卡
merchantcard_description=有了这张商人贵宾卡，你可以在各种商店获得优惠。
minstrelquest_name=时髦的乐器
minstrelquest_description=古斯塔夫需要一把新的鲁特琴，但绝不是普通的鲁特琴，他想要的那把琴就放在一间精灵豪宅里。
moonstone_name=月石
moonstone_description=一块闪亮的石头，你从瑟能西亚森林的年迈树妖那里偷来的。
mosquitoegg_name=蚊子卵
mosquitoegg_description=一颗蚊子卵，在适当的条件下可以孵化出来。
naganotes_name=娜迦笔记
naganotes_description=你在鳄鱼人村找到的笔记，里面解释了如何破译娜迦符文。
emerald_name=绿宝石
emerald_description=你在采石场挖到的绿宝石。
gemstone_name=宝石
gemstone_description=你在采石场挖到的普通宝石。
map1_name=有趣的废墟
map1_description=你有一张地图，可以通往上层废墟某处的一些有趣的废墟。
map2_name=有趣的废墟
map2_description=你有一张地图，可以通往上层废墟某处的一些有趣的废墟。
map3_name=有趣的废墟
map3_description=你有一张地图，可以通往上层废墟某处的一些有趣的废墟。
mayonnaise_name=奇怪的蛋黄酱
mayonnaise_description=一种特殊的食材，用于上层废墟某处的烹饪比赛。
monsteregg_name=怪物蛋
monsteregg_description=一个女孩送给你的怪物蛋。
monsteregg2_name=怪物蛋
monsteregg2_description=一种特殊的食材，用于上层废墟某处的烹饪比赛。
monstertrainer_name=把蛋交给巴什
monstertrainer_description=一个女孩让你把这颗蛋带给巴什，他就在上层废墟的某个地方。
obsidian_name=黑曜石锭
obsidian_description=你在采石场制作了一些黑曜石锭。
ruby_name=红宝石
ruby_description=你在采石场挖到的红宝石。
sackofgrain_name=谷物袋
sackofgrain_description=一种特殊的食材，用于上层废墟某处的烹饪比赛。
smallmap_name=特殊地图
smallmap_description=一张地图，可以通往上层废墟某处的一些有趣的废墟。
smalltreasuremap_name=藏宝图
smalltreasuremap_description=一张藏宝图，可以通往上层废墟的某个地方。
thecook_name=烹饪比赛
thecook_description=你同意帮助鼠人参加烹饪比赛，就在上层废墟的某个地方。
thecourier_name=送货上门
thecourier_description=把沉重的包裹交给冒险者，就在上层废墟的某个地方。
treasuremapquest_name=寻宝
treasuremapquest_description=你有一张地图，可以通往藏在上层废墟某处的宝藏。
obsidianingots_name=黑曜石锭
obsidianingots_description=你在维克拉斯截获的一批货物中获得了这些铸锭。
oldjournal_name=老旧的日志
oldjournal_description=你在一个洞穴里发现的，也许在快乐猫头鹰旅馆里有人认识它的主人。
oldnotes_name=古老的纸条
oldnotes_description=你在湖里的箱子里发现的，其中一张纸条是一棵树的草图。
oldrope_name=旧绳子
oldrope_description=一根有用的绳子，你用来帮助重建房子。
pigcaptured_name=被俘的猪
pigcaptured_description=你把这个猪人绑在了地下室的前门。
piratecoin_name=海盗硬币
piratecoin_description=一枚带有骷髅标志的硬币，因在蜘蛛那里救了某人而获得。
priestquest_name=惊恐的猪人
priestquest_description=你向祭司承诺，你会前往强盗营地对付尤格。
prophetquest_name=找到茨尼莫
prophetquest_description=找到茨尼莫的商船，将包裹交给茨尼莫。
pyromancerquest_name=游历的巫师
pyromancerquest_description=你告诉老者，你会前往维克拉斯的邪教组织大本营，取回他的火焰法杖。
rabbitmeat_name=兔肉
rabbitmeat_description=一堆兔子肉，你在白衣军团的攻击中幸存下来后储备的。
rime_name=老水手之歌
rime_description=一本书，讲述了一名水手射杀信天翁后的不幸遭遇。
rimeoftheancienti_name=老水手之歌 I
rimeoftheancienti_description=在渔夫小屋取回水手的书。
rimeoftheancientii_name=老水手之歌 II
rimeoftheancientii_description=把《老水手之歌》送给北边港口的水手。
sentinelquest_name=最后的哨兵
sentinelquest_description=找到修复魔像的方法。你可以在维克拉斯的黑色熔炉里找到一个新的核心。
sheeplost_name=迷路的绵羊
sheeplost_description=把贝蒂带回给她的主人，就在东边农地附近。
slimebait_name=史莱姆诱饵
slimebait_description=你从蜥蜴人那里得到的自制史莱姆诱饵。
smalllog_name=小原木
smalllog_description=一根小木头，色调很深，散发着一些热量。
treasurehunt_name=寻宝
treasurehunt_description=你现在知道藏有宝藏的那棵树的位置了。
treasurehuntii_name=寻宝 II
treasurehuntii_description=这张地图可以通向宝藏，前提是你要记住地图上显示的地方。
treasuremap_name=藏宝图
treasuremap_description=一张藏宝图，但是图像神奇地消失了。
tsnemogem_name=紫色宝石
tsnemogem_description=茨尼莫给你的宝石，可以在上层废墟中使用。
wardenquest_name=拯救树精
wardenquest_description=布理委托你把叶玛的种子种在一个合适的地方。
ylmerseed_name=叶玛的种子
ylmerseed_description=叶玛仅存的几颗种子之一。
/////////////////// new DLC Ulminin ///////////////////////////////////////////
brillianttopaz_name=闪耀黄宝石
brillianttopaz_description=甲虫巢发现的闪耀黄宝石。
fallenquest1_name=找寻源头
fallenquest1_description=纳瓦蕾尔让你们去东方找寻她诅咒的源头。
fallenquest2_name=解除诅咒
fallenquest2_description=调查纳瓦蕾尔的故乡，找寻净化诅咒之源的圣地。
paladinquest_name=虚空大钟
paladinquest_description=莱亚让你们在古战场上摇响银铃三次。
