apprentice_name=주인을 찾아줘
apprentice_description=티모시는 주인을 찾을 경우 티모시가 작업장으로 돌아왔다고 말해달라고 하였습니다.
assassinquest_name=그림자 속삭임
assassinquest_description=이 그림자 형상은 폭포 근처의 거미 동굴에서 얻을 수 있는 강한 독을 원합니다.
bakerson_name=제빵사에게 아들을 숲 능선에서 찾을 수 있을 것이라고 얘기했습니다.
bakerson_description=제빵사가 
belphyorhorn_name=벨피오르의 뿔
belphyorhorn_description=상급 악마 벨피오르의 뿔입니다.
belphyorquest_name=임프의 복수
belphyorquest_description=악마 중 하나인 벨피오르가 이교도들이 많은 곳에서 임프를 소환하기를 원합니다.
belphyorscroll_name=벨피오르 두루마리
belphyorscroll_description=벨피오르가 임프를 소환할 수 있는 두루마리를 주었습니다.
bigfish_name=큰 물고기
bigfish_description=세넨시아 호수에서 잡은 물고기입니다.
goblinquest_name=족장의 부탁
goblinquest_description=고블린을 도와 그들을 괴롭히는 야수를 죽이기로 하였습니다.
goldensheepquest_name=황금 양
goldensheepquest_description=전설로만 내려오던 황금 양의 위치를 알고 있습니다.
goldenwool_name=황금 양털
goldenwool_description=전설로만 전해지던 황금 양털입니다.
goldtrophy_name=황금 트로피
goldtrophy_description=벨카라스 투기장에서의 승리를 기념하는 황금 트로피입니다.
grainsack_name=곡물 자루
grainsack_description=세넨시아의 들판에서 생산되는 곡물이 든 작은 자루입니다.
hammer_name=망치와 못
hammer_description=무언가를 수리하는데 쓰는 망치와 못 몇개가 들어있습니다.
harpyegg_name=하피 알
harpyegg_description=적절한 조건만 유지하면 하피 알을 부화시킬 수 있습니다.
hugeruby_name=거대한 루비
hugeruby_description=거대한 뱀 동상의 눈 부분에 박혀져있던 루비입니다, 이는 매우 귀중합니다.
jeweledkey_name=보석 열쇠
jeweledkey_description=무덤 속에서 발견한 보석이 박혀져 있는 작은 열쇠입니다.
keyaquarfall_name=신비한 열쇠
keyaquarfall_description=현존하는 가장 희귀한 보물을 여는 신비한 열쇠입니다.
keynorth_name=신비한 열쇠
keynorth_description=얼어붙은 하수구 안에서 발견한 하얀 리본이 달린 열쇠입니다.
keyobelisk_name=신비한 열쇠
keyobelisk_description=신비한 열쇠입니다.
keyvelkarath_name=신비한 열쇠
keyvelkarath_description=검은 연금소에서 발견한 검은 리본이 달린 신비한 열쇠입니다.
largeemerald_name=큰 에메랄드
largeemerald_description=비밀 칸에서 이 에메랄드를 찾았습니다. 이는 매우 귀중합니다.
lorequest_name=고대 지식
lorequest_description=한 노움이 자신의 발명품이 날 수 있게 도와주는 고대의 한 서적을 찾아달라고 부탁했습니다.
magicsapphyre_name=마법 사파이어
magicsapphyre_description=지금은 거의 존재하지 않는 마법 사파이어입니다.
magictorch_name=마법 횃불
magictorch_description=얼음을 녹이거나 얼지 않게 하는 마법의 횃불입니다.
merchantcard_name=상인조합 카드
merchantcard_description=이 VIP 카드로 다양한 상점에서 할인을 받을 수 있습니다.
minstrelquest_name=세련된 악기
minstrelquest_description=구스타브는 새로운 류트가 필요하지만, 그가 정말로 원하는 것은 엘프 맨션에 있는 류트입니다.
moonstone_name=문스톤
moonstone_description=세넨시아 숲의 장로인 드라이어드에게서 훔친 빛나는 돌입니다.
mosquitoegg_name=모기 알
mosquitoegg_description=적절한 조건만 유지하면 모기 알을 부화시킬 수 있습니다.
naganotes_name=나가의 노트
naganotes_description=크로코멘 마을에서 찾았습니다. 여기에는 나가 룬을 해독하는 방법을 설명하고 있습니다.
emerald_name=에메랄드
emerald_description=채석장에서 파낸 에메랄드입니다.
gemstone_name=젬스톤
gemstone_description=채석장에서 흔히 팔 수 있는 보석입니다.
map1_name=흥미로운 유적
map1_description=위쪽 유적 어딘가에서 흥미로운 유적으로 이어지는 지도를 갖고 있습니다.
map2_name=흥미로운 유적
map2_description=위쪽 유적 어딘가에서 흥미로운 유적으로 이어지는 지도를 갖고 있습니다.
map3_name=흥미로운 유적
map3_description=위쪽 유적 어딘가에서 흥미로운 유적으로 이어지는 지도를 갖고 있습니다.
mayonnaise_name=Strange Mayonnaise
mayonnaise_description=A special ingredient, for the cooking contest somewhere in the upper ruins.
monsteregg_name=몬스터 알
monsteregg_description=소녀가 준 몬스터 알입니다.
monsteregg2_name=몬스터 알
monsteregg2_description=위쪽 유적 어딘가에서 얻은 특별한 요리 재료입니다.
monstertrainer_name=알을 배쉬에게 전달하세요
monstertrainer_description=한 소녀가 이 알을 위쪽 유적 어딘가에 있는 배쉬에게 가져다 달라고 부탁했습니다.
obsidian_name=흑요석 주괴
obsidian_description=채석장에서 흑요석 주괴를 만들었습니다.
ruby_name=루비
ruby_description=채석장에서 파낸 루비입니다.
sackofgrain_name=곡물 자루
sackofgrain_description=상부 유적 어딘가에서 얻은 특별한 요리 재료입니다.
smallmap_name=특별한 지도
smallmap_description=상부 유적 어딘가에 있는 유적으로 연결되는 지도입니다.
smalltreasuremap_name=보물 지도
smalltreasuremap_description=상부 유적 어딘가로 이어지는 보물지도입니다.
thecook_name=요리 대회
thecook_description=쥐 수인이 요리 대회에 참가하는 것을 돕겠다고 하였습니다.
thecourier_name=택배
thecourier_description=상부 유적 어딘가에 있는 모험가들에게 이 짐을 전달하세요.
treasuremapquest_name=보물 사냥꾼
treasuremapquest_description=상부 폐허 어딘가에 숨겨진 보물로 연결되는 지도를 가지고 있습니다.
obsidianingots_name=흑요석 주괴
obsidianingots_description=벨카라스에서 가로챈 화물에서 이 주괴를 얻었습니다.
oldjournal_name=오래된 일기장
oldjournal_description=동굴에서 찾았습니다. 아마 올빼미 여관의 누군가가 주인을 알고 있을 것입니다.
oldnotes_name=오래된 노트
oldnotes_description=호수에 있는 상자 안에서 찾았습니다. 그 중 하나는 나무를 그린 스케치입니다.
oldrope_name=오래된 로프
oldrope_description=집을 재건할 때 사용됐던 유용한 밧줄이다.
pigcaptured_name=잡힌 돼지
pigcaptured_description=지하실 정문에 오크를 묶었습니다.
piratecoin_name=해적 코인
piratecoin_description=거미에게 당하고 있던 사람을 구한 대가로 얻은 해골 그림이 그려져 있는 동전입니다.
priestquest_name=겁먹은 오크
priestquest_description=도적 캠프에서 요거를 처리하겠다고 사제에게 약속하였습니다.
prophetquest_name=쓰네모를 찾아라
prophetquest_description=쓰네모의 상선을 찾아 쓰네모에게 패키지를 전달하세요
pyromancerquest_name=방황하는 마법사
pyromancerquest_description=노인에게 벨카라스에 있는 이교도 소굴에서 지팡이를 회수해주겠다고 말했습니다.
rabbitmeat_name=토끼 고기
rabbitmeat_description=호드에서 살아남은 후 구한 토끼 고기 더미입니다.
rime_name=Rime of the Ancient Mariner
rime_description=A book that tells the misfortunes of a seaman who shoots an albatross.
rimeoftheancienti_name=Rime of the Ancient Mariner I
rimeoftheancienti_description=Retrieve the sailor's book in the fisherman's hut.
rimeoftheancientii_name=Rime of the Ancient Mariner II
rimeoftheancientii_description=Deliver the Rime of the Ancient Mariner to the sailors in the Northern Harbor.
sentinelquest_name=마지막 파수꾼
sentinelquest_description=벨카라스의 검은 연금소에서 새로운 코어를 찾을 수 있습니다. 이것으로 골렘을 수리하세요.
sheeplost_name=잃어버린 양
sheeplost_description=베티를 동부 농지 근처에 있는 주인에게 데려다줘야합니다.
slimebait_name=슬라임 미끼
slimebait_description=리자드맨에게 받은 수제 슬라임 미끼입니다.
smalllog_name=작은 통나무
smalllog_description=어두운 빛깔의 열이 나는 작은 통나무입니다.
treasurehunt_name=보물 사냥꾼
treasurehunt_description=이제 보물이 숨겨져 있는 나무의 위치를 알았습니다.
treasurehuntii_name=보물 사냥꾼 II
treasurehuntii_description=지도는 보물로 이어지고 있지만 지도에 표시된 장소를 기억해야합니다.
treasuremap_name=보물 지도
treasuremap_description=보물지도이지만, 보물의 그림이 가려졌습니다.
tsnemogem_name=보라색 보석
tsnemogem_description=위쪽 유적에서 사용하라고 쓰네모가 준 보석입니다.
wardenquest_name=Saving the treants
wardenquest_description=Bree has entrusted you with one Ylmer's seed to plant in a suitable location.
ylmerseed_name=일메르의 씨앗
ylmerseed_description=세상에 몇 안되는 일메르의 씨앗 중 하나입니다.