apprentice_name=Letar efter mästaren
apprentice_description=Timothy har berättat att om du ser hans mästare, ska du berätta för honom att han har återvänt till verkstaden.
assassinquest_name=Viskar i skuggan
assassinquest_description=Skuggfiguren vill ha ett starkt gift, som kan hittas inne i en spindelgrotta i Aquarfall.
bakerson_name=Bagarens son
bakerson_description=Du berättade för bagaren att du kommer att hitta hans son vid Forest Arch.
belphyorhorn_name=Belphyors horn
belphyorhorn_description=Detta är hornet från Greater Demon Belphyor. Någon kan vilja ha denna kraftfulla föremål.
belphyorquest_name=Impernas hämnd
belphyorquest_description=Belphyor, den Större Demonen, vill att du ska kalla på imperna på en plats full av kultister.
belphyorscroll_name=Belphyor Scroll
belphyorscroll_description=Belphyor gav dig denna rulle för att kalla på tomtarna.
bigfish_name=Stor fisk
bigfish_description=Du fångade denna fisk i Senenthia-sjön. Den ser läcker ut.
goblinquest_name=Hövdingens begäran
goblinquest_description=Du har gått med på att hjälpa goblinerna och döda odjuret som äter dem.
goldensheepquest_name=Det gyllene fåret
goldensheepquest_description=Du har platsen för det legendariska gyllene fåret.
goldenwool_name=Gyllene ull
goldenwool_description=Ullen från det legendariska gyllene fåret. Den är mycket värdefull.
goldtrophy_name=Guldtrofé
goldtrophy_description=En guldtriumf för att fira din seger i arenan i Velkarath.
grainsack_name=Spannmålssäck
grainsack_description=En liten säck spannmål som produceras i fälten i Senenthia.
hammer_name=Hammare och spikar
hammer_description=En hammare och några spikar för snabba reparationer.
harpyegg_name=Harpyieägg
harpyegg_description=Ett harpyieägg som, under rätt förhållanden, till och med kan kläckas.
hugeruby_name=Stor rubin
hugeruby_description=Den brukade vara ögat på en stor ormskulptur. Den är mycket värdefull.
jeweledkey_name=Smyckad nyckel
jeweledkey_description=En liten nyckel med en juvel som du hittade i en grav.
keyaquarfall_name=Mysteriös nyckel
keyaquarfall_description=En mystisk nyckel som sägs öppna den största skatten som någonsin har funnits.
keynorth_name=Mysteriös nyckel
keynorth_description=En mystisk nyckel med ett vitt band som du hittade i de frusna avloppsrören.
keyobelisk_name=Mysteriös nyckel
keyobelisk_description=En mystisk nyckel som du hittade.
keyvelkarath_name=Mysteriös nyckel
keyvelkarath_description=En mystisk nyckel med ett svart band som du hittade i Svarta Smidet.
largeemerald_name=Stor smaragd
largeemerald_description=Du hittade denna smaragd i ett hemligt fack. Den är mycket värdefull.
lorequest_name=Forntida kunskap
lorequest_description=En dvärg har bett dig att leta efter antika böcker för att hjälpa honom att få sin uppfinning att flyga.
magicsapphyre_name=Magisk safir 
magicsapphyre_description=En uttömd magisk safir. Även så är den mycket värdefull.
magictorch_name=Magisk fackla
magictorch_description=En magisk fackla som du kan använda för att smälta is eller för att förhindra att du fryser.
merchantcard_name=Köpmankort
merchantcard_description=Med detta köpmanskort för VIP kommer du få rabatter på olika butiker.
minstrelquest_name=Ett stilfullt instrument
minstrelquest_description=Gustav behöver en ny luta, men inte vilken luta som helst; den han vill ha finns i en älvmansion.
moonstone_name=Moonstone
moonstone_description=En skinande sten som du stal från en äldre torrtroll i Senenthia skogen.
mosquitoegg_name=Mosquito Egg
mosquitoegg_description=Ett myggägg, under rätt förhållanden kan det till och med kläcka.
naganotes_name=Naga Notes
naganotes_description=Du hittade dem i krokodilmännens by; de förklarar hur man tyder naga-runor.
emerald_name=Smaragd
emerald_description=En smaragd som du grävde fram i stenbrottet.
gemstone_name=Juwel
gemstone_description=En vanlig juvel som du grävde fram i stenbrottet.
map1_name=Intressanta ruiner
map1_description=Du har en karta som leder till några intressanta ruiner någonstans i de övre ruinerna.
map2_name=Intressanta ruiner
map2_description=Du har en karta som leder till några intressanta ruiner någonstans i de övre ruinerna.
map3_name=Intressanta ruiner
map3_description=Du har en karta som leder till några intressanta ruiner någonstans i de övre ruinerna.
mayonnaise_name=Konstig majonnäs
mayonnaise_description=En speciell ingrediens för matlagningstävlingen någonstans i de övre ruinerna.
monsteregg_name=Monsteregg
monsteregg_description=Ett monsteregg som har getts till dig av en tjej.
monsteregg2_name=Monsteregg
monsteregg2_description=En speciell ingrediens för matlagningstävlingen någonstans i de övre ruinerna.
monstertrainer_name=Leverera ägget till Bash
monstertrainer_description=En tjej bad dig att ta med det här ägget till Bash, någonstans i de övre ruinerna.
obsidian_name=Obsidianbarren
obsidian_description=Du tillverkade några obsidianbarren i stenbrottet.
ruby_name=Rubin
ruby_description=En rubin du grävde upp i stenbrottet.
sackofgrain_name=Säck med säd
sackofgrain_description=En speciell ingrediens för matlagningstävlingen någonstans i de övre ruinerna.
smallmap_name=Speciell karta
smallmap_description=Det är en karta som leder till intressanta ruiner någonstans i de övre ruinerna.
smalltreasuremap_name=Skattkarta
smalltreasuremap_description=Det är en skattkarta som leder någonstans i de övre ruinerna.
thecook_name=Matlagningstävlingen
thecook_description=Du gick med på att hjälpa en råtta att delta i en matlagnings tävling någonstans i de övre ruinerna.
thecourier_name=Hemleverans
thecourier_description=Leverera det tunga paketet till äventyrarna någonstans i de övre ruinerna.
treasuremapquest_name=Skattjakt
treasuremapquest_description=Du har en karta som leder till en skatt gömd någonstans i de övre ruinerna.
obsidianingots_name=Obsidianbarren
obsidianingots_description=Du fick dessa ädelstenar i en leverans du överförde i Velkarath.
oldjournal_name=Gammal Journal
oldjournal_description=Du hittade den här i en grotta. Kanske visste någon på Happy Owl Inn ägaren.
oldnotes_name=Gammal Anteckningar
oldnotes_description=Du hittade dem i lådan vid sjön; en av dem är en skiss av ett träd.
oldrope_name=Gammal Rep
oldrope_description=Ett användbart rep som du använde för att hjälpa till att återuppbygga ett hus.
pigcaptured_name=Fångad Gris
pigcaptured_description=Du band fast denna grisman vid källardörren.
piratecoin_name=Piratmynt
piratecoin_description=En mynt med dödskalle och korsade ben; du fick det för att ha räddat någon från spindlar.
priestquest_name=Den skrämda grisordern
priestquest_description=Du lovade prästen att du skulle ta hand om Yogger vid Bandit Camp.
prophetquest_name=Att finna Tsnemo
prophetquest_description=Hitta Tsnemos handelsfartyg och leverera paketet till Tsnemo.
pyromancerquest_name=Den vandrande trollkarlen
pyromancerquest_description=Du berättade för den gamle mannen att du kommer återfå hans eldstav vid kultistbasen i Velkarath.
rabbitmeat_name=Kaninkött
rabbitmeat_description=En hög med kaninkött som du räddat efter att ha överlevt Verkliga Härdarna.
rime_name=Rime of the Ancient Mariner
rime_description=En bok som berättar om en sjöman som skjuter en albatross och drabbas av otur.
rimeoftheancienti_name=Rime of the Ancient Mariner I
rimeoftheancienti_description=Hämta sjömännens bok i fiskarens stuga.
rimeoftheancientii_name=Rime of the Ancient Mariner II
rimeoftheancientii_description=Lämna över Rime of the Ancient Mariner till sjömännen i Norra hamnen.
sentinelquest_name=Den sista vakten
sentinelquest_description=Hitta ett sätt att reparera golem. Du kan hitta en ny kärna i Svarta Smedjan i Velkarath.
sheeplost_name=Det förlorade fåret
sheeplost_description=Du kommer att återlämna Betty till sin ägare nära östra bondgården.
slimebait_name=Slemsk ål
slimebait_description=Den hemgjorda slemska ålen som du fick från ödlemännen.
smalllog_name=Liten stock
smalllog_description=En liten trästock; den har en mörk ton och avger lite värme.
treasurehunt_name=Sök skatt
treasurehunt_description=Nu vet du var trädet är gömt skatten.
treasurehuntii_name=Sök skatt II
treasurehuntii_description=Kartan leder till skatten, men endast om du kommer ihåg platsen som kartan visade.
treasuremap_name=Skattkarta
treasuremap_description=Det är en skattkarta, men bilden försvann magiskt.
tsnemogem_name=Lila juvel
tsnemogem_description=En ädelsten som Tsnemo har gett dig för att använda i de övre ruinerna.
wardenquest_name=Rädda träanten
wardenquest_description=Bree har anförtrott dig med en av Ylmers frön att plantera på en lämplig plats.
ylmerseed_name=Ylmers frö
ylmerseed_description=Ett av de få kvarvarande Ylmers frön.
0: /////////////////// nytt DLC Ulminin ///////////////////////////////////////////
brillianttopaz_name=Skinande topas
brillianttopaz_description=En skinande topas som du hittade i ett skalbaggebo.
fallenquest1_name=Söka källan
fallenquest1_description=Navalea ber dig söka öst för att hitta källan till hennes förbannelse.
fallenquest2_name=Besegra förbannelsen
fallenquest2_description=Söka Navaleas hemland efter en helig plats för att rena källan till förbannelsen.
paladinquest_name=Void-klockorna
paladinquest_description=Laia bad dig ringa silverklockan tre gånger, på ett uråldrigt slagfält.
