apprentice_name=Buscando al maestro
apprentice_description=Timothy te ha dicho que si ves a su maestro, le digas que ha vuelto al taller.
assassinquest_name=Susurros en la sombra
assassinquest_description=La figura entre las sombras quiere un veneno fuerte, que se puede encontrar dentro de una cueva de arañas en Aquarfall.
bakerson_name=El hijo del panadero
bakerson_description=Le has dicho al panadero que encontrarás a su hijo en el Arco del Bosque.
belphyorhorn_name=Cuerno de Belphyor
belphyorhorn_description=Este es el cuerno del gran demonio Belphyor. Puede que alguien quiera este poderoso objeto.
belphyorquest_name=La venganza de los diablillos
belphyorquest_description=Belphyor, el gran demonio, quiere que convoques a los diablillos en un lugar lleno de sectarios.
belphyorscroll_name=Pergamino de Belphyor
belphyorscroll_description=Belphyor te ha dado este pergamino para que invoques a los diablillos.
bigfish_name=Pez grande
bigfish_description=Has pescado este pez en el lago Senenthia. Tiene un aspecto delicioso.
goblinquest_name=La petición del cacique
goblinquest_description=Has accedido a ayudar a los duendes y matar a la bestia que se alimenta de ellos.
goldensheepquest_name=La oveja de oro
goldensheepquest_description=Has descubierto la ubicación de la legendaria oveja de oro.
goldenwool_name=Lana dorada
goldenwool_description=La lana de la legendaria oveja de oro es muy valiosa.
goldtrophy_name=Trofeo de oro
goldtrophy_description=Un trofeo de oro que conmemora tu victoria en la arena de Velkarath.
grainsack_name=Saco de grano
grainsack_description=Un pequeño saco de grano producido en los campos de Senenthia.
hammer_name=Martillo y clavos
hammer_description=Un martillo y algunos clavos para reparaciones rápidas.
harpyegg_name=Huevo de arpía
harpyegg_description=Un huevo de arpía. En las condiciones adecuadas, podría incluso eclosionar.
hugeruby_name=Rubí enorme
hugeruby_description=Solía ser el ojo de una gran estatua de una serpiente. Es muy valioso.
jeweledkey_name=Llave enjoyada
jeweledkey_description=Una pequeña llave con una joya que encontraste dentro de una tumba.
keyaquarfall_name=Llave misteriosa
keyaquarfall_description=Una llave misteriosa que supuestamente abre el mayor tesoro que jamás haya existido.
keynorth_name=Llave misteriosa
keynorth_description=Una llave misteriosa con una cinta blanca que encontraste dentro de las alcantarillas congeladas.
keyobelisk_name=Llave misteriosa
keyobelisk_description=Una llave misteriosa que encontraste.
keyvelkarath_name=Llave misteriosa
keyvelkarath_description=Una llave misteriosa con una cinta negra que encontraste dentro de la Fragua Negra.
largeemerald_name=Esmeralda grande
largeemerald_description=Encontraste esta esmeralda en un compartimento secreto. Es muy valiosa.
lorequest_name=Conocimiento antiguo
lorequest_description=Un gnomo te ha pedido que busques libros antiguos para ayudarlo a hacer volar su invento.
magicsapphyre_name=Zafiro mágico 
magicsapphyre_description=Un zafiro mágico agotado. Aun así, sigue siendo muy valioso.
magictorch_name=Antorcha mágica
magictorch_description=Una antorcha mágica que puedes usar para derretir hielo o para evitar congelarte.
merchantcard_name=Tarjeta de mercader
merchantcard_description=Con esta tarjeta VIP de mercader disfrutarás de descuentos en varias tiendas.
minstrelquest_name=Un instrumento elegante
minstrelquest_description=Gustav necesita un laúd nuevo, pero no cualquier laúd. El que quiere está en una mansión élfica.
moonstone_name=Piedra lunar
moonstone_description=Una piedra brillante que le robaste a una dríada anciana en el bosque de Senenthia.
mosquitoegg_name=Huevo de mosquito
mosquitoegg_description=Un huevo de mosquito. En las condiciones adecuadas, podría incluso eclosionar.
naganotes_name=Notas naga
naganotes_description=Las encontraste en la aldea de los hombres cocodrilo, y explican cómo descifrar las runas naga.
emerald_name=Esmeralda
emerald_description=Una esmeralda que excavaste en la cantera.
gemstone_name=Piedra preciosa
gemstone_description=Una piedra preciosa común que excavaste en la cantera.
map1_name=Ruinas interesantes
map1_description=Un mapa que conduce a unas ruinas interesantes en algún lugar de las ruinas superiores.
map2_name=Ruinas interesantes
map2_description=Un mapa que conduce a unas ruinas interesantes en algún lugar de las ruinas superiores.
map3_name=Ruinas interesantes
map3_description=Un mapa que conduce a unas ruinas interesantes en algún lugar de las ruinas superiores.
mayonnaise_name=Mayonesa extraña
mayonnaise_description=Un ingrediente especial para el concurso de cocina que tiene lugar en alguna parte de las ruinas superiores.
monsteregg_name=Huevo de monstruo
monsteregg_description=Un huevo de monstruo que te ha dado una chica.
monsteregg2_name=Huevo de monstruo
monsteregg2_description=Un ingrediente especial para el concurso de cocina que tiene lugar en alguna parte de las ruinas superiores.
monstertrainer_name=Llévale el huevo a Bash
monstertrainer_description=Una chica te pidió que le llevaras este huevo a Bash, que está en algún lugar de las ruinas superiores.
obsidian_name=Lingotes de obsidiana
obsidian_description=Unos lingotes de obsidiana que fabricaste en la cantera.
ruby_name=Rubí
ruby_description=Un rubí que excavaste en la cantera.
sackofgrain_name=Saco de grano
sackofgrain_description=Un ingrediente especial para el concurso de cocina que tiene lugar en alguna parte de las ruinas superiores.
smallmap_name=Mapa especial
smallmap_description=Un mapa que conduce a algunas ruinas interesantes en algún lugar de las ruinas superiores.
smalltreasuremap_name=Mapa del tesoro
smalltreasuremap_description=Un mapa del tesoro que conduce a algún lugar de las ruinas superiores.
thecook_name=El concurso de cocina
thecook_description=Has accedido a ayudar a un hombre rata a participar en un concurso de cocina que tiene lugar en alguna parte de las ruinas superiores.
thecourier_name=Entrega a domicilio
thecourier_description=Entrega el pesado paquete a los aventureros en algún lugar de las ruinas superiores.
treasuremapquest_name=Búsqueda del tesoro
treasuremapquest_description=Un mapa que conduce a un tesoro escondido en algún lugar de las ruinas superiores.
obsidianingots_name=Lingotes de obsidiana
obsidianingots_description=Obtuviste estos lingotes de un cargamento que interceptaste en Velkarath.
oldjournal_name=Diario antiguo
oldjournal_description=Encontraste esto en una cueva. Quizás en la posada Búho Feliz alguien conociera al dueño.
oldnotes_name=Notas antiguas
oldnotes_description=Las encontraste dentro del cofre en el lago. Una de ellas es un boceto de un árbol.
oldrope_name=Cuerda antigua
oldrope_description=Una cuerda útil que usaste para ayudar a reconstruir una casa.
pigcaptured_name=Cerdo capturado
pigcaptured_description=Ataste a este hombrecerdo en la puerta principal del sótano.
piratecoin_name=Moneda pirata
piratecoin_description=Una moneda con la calavera y las tibias cruzadas. La conseguiste por salvar a alguien de las arañas.
priestquest_name=El hombrecerdo asustado
priestquest_description=Le prometiste al sacerdote que te ocuparías de Yogger en el campamento de bandidos.
prophetquest_name=Buscando a Tsnemo
prophetquest_description=Encuentra el barco mercante de Tsnemo y llévale el paquete a Tsnemo.
pyromancerquest_name=El mago errante
pyromancerquest_description=Le dijiste al anciano que recuperarás su bastón de fuego en la base principal de los sectarios en Velkarath.
rabbitmeat_name=Carne de conejo
rabbitmeat_description=Un montón de carne de conejo que guardaste después de sobrevivir a la horda blanca.
rime_name=Balada del viejo marinero
rime_description=Un libro que cuenta las desgracias de un marinero que dispara a un albatros.
rimeoftheancienti_name=Balada del viejo marinero I
rimeoftheancienti_description=Recupera el libro del marinero en la cabaña del pescador.
rimeoftheancientii_name=Balada del viejo marinero II
rimeoftheancientii_description=Entrega la Balada del viejo marinero a los marineros en el puerto norte.
sentinelquest_name=El último centinela
sentinelquest_description=Encuentra una manera de reparar el gólem. Puedes encontrar un nuevo núcleo en la Fragua Negra, en Velkarath.
sheeplost_name=La oveja perdida
sheeplost_description=Devuelve a Betty a su dueño cerca de las tierras de cultivo del este.
slimebait_name=Cebo de cieno
slimebait_description=El cebo de cieno casero que obtuviste de los hombres lagarto.
smalllog_name=Tronco pequeño
smalllog_description=Un pequeño tronco de madera. Tiene un tono oscuro y desprende algo de calor.
treasurehunt_name=Búsqueda del tesoro
treasurehunt_description=Ahora conoces la ubicación del árbol donde está escondido el tesoro.
treasurehuntii_name=Búsqueda del tesoro II
treasurehuntii_description=El mapa conduce al tesoro, pero solo si recuerdas el lugar que indicaba.
treasuremap_name=Mapa del tesoro
treasuremap_description=Es un mapa del tesoro, pero la imagen ha desaparecido por arte de magia.
tsnemogem_name=Gema morada
tsnemogem_description=Una gema que te dio Tsnemo para que la uses en las ruinas superiores.
wardenquest_name=Salvando a los antárboles
wardenquest_description=Bree te ha confiado una semilla de Ylmer para que la plantes en un lugar adecuado.
ylmerseed_name=Semilla de Ylmer
ylmerseed_description=Una de las pocas semillas de Ylmer que quedan.
/////////////////// new DLC Ulminin ///////////////////////////////////////////
brillianttopaz_name=Topacio brillante
brillianttopaz_description=Un topacio brillante que encontrasteis en un nido de escarabajos.
fallenquest1_name=Búsqueda de la fuente
fallenquest1_description=Navalea os pide que busquéis en el este la fuente de su maldición.
fallenquest2_name=Levantando la maldición
fallenquest2_description=Busca en la tierra natal de Navalea un lugar sagrado para purificar la fuente de la maldición.
paladinquest_name=Las campanas del vacío
paladinquest_description=Laia os pidió que tocarais la campana de plata tres veces en un antiguo campo de batalla.
